* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
body {
  background: url(img2.jpg);
  background-repeat: no-repeat;
}
.login-form {
  display: flex;
  height: 500px;
  width: 500px;
  width: 800px;
  border: 1px solid black;
  margin: auto;
  margin-top: 50px;
  box-shadow: 15px 15px 20px black;
}
.form {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  background-color: whitesmoke;
}
.form h1 {
  font-size: 3rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin: 40px;
}
.box {
  padding: 12px;
  width: 65%;
  margin: 15px;
  border: 1px solid black;
  outline: none;
  border-radius: 20px;
}
#login {
  padding: 12px 30px;
  width: 40%;
  margin-top: 40px;
  background-color: black;
  color: white;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 20px;
}
#login:hover {
  cursor: pointer;
  background-color: blue;
}

.form a {
  text-decoration: none;
  margin-top: 20px;
}
.form a:hover {
  color: red;
}

.side {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.side img {
  width: 399px;
  height: 498px;
}
